body{
    background-color:#ffffff;
    margin: auto;
}
container-prin{
   width: 90%;
    display: flex;
    align-items: center;
    gap:75px;
}

.button-inicio a {
  border-radius: 17px;
    background-color: #7E69B6;
    border: solid;
    padding: 10px 30px;
    text-decoration: none;
    color: aliceblue;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    margin: 5px;
    display: inline-block;
    border-color: #323373;
}
