h1{
    color:#A5A6F6;
}

header{
    background-color:#2A2635;
    height:40px;
}


footer{
    background-color:#2A2635;
    height: 40px;
    color: #ffffff6e;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

body{
    background-color: #7E69B6;
    margin: auto;
}

.container-logos{
 width: 30%;
    background-color: #7E69B6;
}

.container-logos img{
  width:100px;
  display:flex;
  justify-content:center;
}

.container-formulario{
    background-color: #292635;
    width: 70%;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btn: hover{
    background-color:yellow;
}

.button-inicio a {
  border-radius: 17px;
    background-color: #7E69B6;
    border: solid;
    padding: 10px 30px;
    text-decoration: none;
    color: aliceblue;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    margin: 5px;
    display: inline-block;
    border-color: #323373;
}
