header{
    background-color:#7E69B6;
    height:40px;
}


footer{
    background-color:#7E69B6;
    height: 40px;
    color: #ffffff6e;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

body{
    background-color: #2A2635;
    margin: auto;
}

h1{
    color:#A5A6F6;
    margin: 21px;
}
.button-inicio{
    display:flex;
    justify-content: flex-start;
    align-items:center;
    margin:50px ;
    width: 225px 69px;
    gap: 40px;
}

.button-inicio a {
   border-radius: 17px;
    background-color: #2A2635;
    border: solid;
    padding: 10px 30px;
    text-decoration: none;
    color: aliceblue;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    margin: 5px;
    display: inline-block;
    border-color: #323373;
}

.sec-logos{
  width: auto;
  height: 193px;
display: flex;
 justify-content: center;
 flex-direction: row;
}

.logos{
    gap: 20px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.logos img{
  width: 90px;
  gap: 20px;
  display: flex;
  align-items:center;
}

.seccion-fotos{
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px;
    padding: 30px;
}

.cont-test{
    display:flex;
    justify-content:center;
    aling-items:center;
    padding:15px;
    width:50%;
}
.seccion-logos{
    margin-bottom: 135px;
}

.seccion-fotos hr{
    width: 2px;
    margin: 21px;
    background-color: white;
    border-radius: 26px;
}

.texto{
    display: flex;
    width: 14%;
}

.texto hr{
    height:500px;
}
.seccion-fotos p{
    width: 210px;
    margin: 0px 4px;
    color: white;
    display: flex;
    font-size: larger;
    align-items: center;
    }
