body{
    background-color: #2A2635;
}
header{
    background-color:#7E69B6;
    height:40px;
}
h1{
    color:white;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    display: block;
    margin: 50px;
    text-align:center;
    font-size: 128px;
}

h2{
    color:white;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    display: block;
    margin: 20px;
    margin-top:20px;
    text-align:left;
    font-size: 50px;
}

.button{
display:flex;
justify-content:center;
align-items:center;
    margin:50px ;
    width: 225px 69px;
    gap: 40px;
    
    
}

.button a{
    border-radius: 5px;
    background-color: #7E69B6;
    border-color: #323373;
    padding: 10px 30px;
    text-decoration: none;
    color:aliceblue;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    margin: 5px;
    display: inline-block;
}

.button :hover{
    color: white;
    background-color:#323373;
}

.container-foto{
    display:flex;
    align-items:center;
    overflow:hidden;
    margin:auto;
    justify-content:center;
}

.container-foto img{
    width: 300px;
    height: 300px;
    border-radius:50%;
   align-self:center;
  margin: 30px 50px;

}

    
.button-galeria{
    width: 100px;
    height: 30px;
    color:#292635;
    background-color:white;
    border-radius:50px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    padding: 10px 30px;
    margin-top:63px;
    text-decoration: none;
    
    

}



    p{
   width: 436px;
    display: flex;
    height: 127px;
    color: white;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    flex-direction: row;
    align-items: center;
    }

.section2 {
    width: 95%;
    margin:auto;
    margin-top:40px;
    width: fit-content;
    background-color: #7E69B6;
    overflow: hidden;
    padding-top: 25px;
    padding-bottom: 100px;
}




.proyectos{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section3{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.habilidades{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px;
    gap: 44px;
}

.section3 img{
    width:800px;
}

.section3 p{
    font-size:23px;

}

.section4{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
}

.section4 p {
    gap:10px;
    font-size:23px;
}

.section5{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.intereses{
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.section6 p{
    font-size:15px;
}



footer{    
    background-color: #7E69B6;
    height: 40px;
    color: #ffffff6e;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
