header{
    background-color:#2A1333;
    height:40px;
}


footer{
    background-color:#2A2635;
    height:40px;
    
}

body{
    background-color: #7E69B6;
}

.button-inicio{
    display:flex;
    justify-content:center;
    align-items:center;
    margin:50px ;
    width: 225px 69px;
    gap: 40px;
}

.button-inicio a {
    border-radius: 5px;
    background-color: #7E69B6;
    border-color: #323373;
    padding: 10px 30px;
    text-decoration: none;
    color:aliceblue;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    margin: 5px;
    display: inline-block;
}

.container-galeria{
    width: 800px;
    display:block;
    }

.container-galeria img {
    width: 300px 70px;
    border-radius: 30px;
}
