header{
    background-color:#2A2635;
    height:40px;
}

   footer{
    background-color:#2A2635;
    height: 40px;
    color: #ffffff6e;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
    

body{
    background-color: #7E69B6;
    margin: auto;
}

.h1{
    color:#A5A6F6;
}

.section-logos{
  width: auto;
  height: 193px;
}

.logos{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.logos img{
  width: 90px;
  gap: 20px;
  display: flex;
  align-items:center;
}

.hr{
    width: 68%;
}

.texto-video{
 display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 80px;
    gap: 20px;

    .texto-video p {
    width: 210px;
    margin: 0px 4px;
    color: white;
    display: flex;
    font-size: larger;
    }



.button-inicio{
    display:flex;
    justify-content: flex-start;
    align-items:center;
    margin:50px ;
    width: 225px 69px;
    gap: 40px;
}

.button-inicio a {
    border-radius: 5px;
    background-color: #7E69B6;
    border-color: #323373;
    padding: 10px 30px;
    text-decoration: none;
    color:aliceblue;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    margin: 5px;
    display: inline-block;
}
  
